@using MyContractsGenerator.WebUI.Models.BaseModels
@using MyContractsGenerator.WebUI.Models.NotificationModels
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="version" content="@MyContractsGenerator.Common.GlobalAppSettings.ApplicationVersion">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    <link rel="icon" href="@Url.Content("~/Content/images/favicon.ico")" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
        @Styles.Render("~/Content/custom-shared-ie8.css")
    <![endif]-->

</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/js")
    @RenderSection("ScriptSection", false)

    <div class="hidden" id="notificationHiddenDiv">
        @if (Model is BaseModel)
        {
            foreach (NotificationModel oneNotification in Model.Notifications)
            {
                <div data-title="@oneNotification.Title" data-type="@oneNotification.Type" data-delay="@oneNotification.Delay"></div>
            }
        }
    </div>
</body>
</html>