@model MyContractsGenerator.WebUI.Models.administratorModels.AdministratorEditPasswordModel

@{
    ViewBag.Title = Resources.UserEditPassword_PageTitle;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section class="edit-password-section">
    @using (Html.BeginForm("EditPassword", "Identity", FormMethod.Post, new { id = "EditPasswordForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Login)
        <div class="center-block contentWithFooterMenu">
            <div class="h1 double-space">@Resources.UserEditPassword_PageTitle</div>
            <div class="form-group">
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CurrentPassword, new { @class = "control-label" })
                @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control small-medium-input" } })
                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewPassword, new { @class = "control-label" })
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control small-medium-input" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewPasswordConfirmation, new { @class = "control-label" })
                @Html.EditorFor(model => model.NewPasswordConfirmation, new { htmlAttributes = new { @class = "form-control small-medium-input" } })
                @Html.ValidationMessageFor(model => model.NewPasswordConfirmation, "", new { @class = "text-danger" })
            </div>
        </div>
        <footer id="footerMenu">
            <a role="button" class="btn btn-default" href="#" onClick="JS2CSharpInterface.OnCancel()">@Resources.administrator_CancelButton</a>
            <button type="submit" class="btn btn-primary">@Resources.administrator_ValidateButton</button>
        </footer>
    }
</section>
